.time {
    font-size: 1.3em;
    line-height: 1.5em
}

.people-list * {
    border: 1px solid
}

.guest {
}

#splashButtons {
    width: 50%;
    margin: auto
}

#splashButtons a {
    font-size: 1.5em
}

.error input {
    border-color: red
}

.ui-input-text.ui-body-b {
}

label.ui-input-text, #error_explanation, .success {
    font-weight: bold;
    color: white;
    text-shadow: 0 -1px 1px #145072
}

.required {
    font-size: 1.5em
}

.success p {
    text-align: center;
    font-size: 50px
}

.company_logo {
    display: block;
    margin: auto;
}