@main {
<div data-role="page" data-theme="b" id="success" class="guest">
    <div data-role="content" id="splashButtons" class="success">
        <p>Thanks for registering!</p>
        <a data-role="button" data-transition="fade" href="/" data-icon="arrow-l" data-iconpos="left">
            Return
        </a>
    </div>
    <script type="text/javascript">
        //<![CDATA[

        setTimeout(function() {
            window.location.href = "/";
        }, 3000);

        //]]>
</script></div>
}