@(myForm: Form[Person])
@import helpers.JQueryMobileFieldConstructor._

@main {
    <div data-role="page" data-theme="b" id="guest" class="guest">
        @helper.form(action = routes.Application.guestReceive, 'id -> "new_person", 'class -> "new_person") {
            <a data-role="button" data-transition="fade" href="/" data-icon="arrow-l" data-iconpos="left">
                    Back
            </a>


            <img src='@routes.Assets.at("images/box_logo.png")' class="box_logo"/>
            <div data-role="content" style="margin-left: 15%;margin-right: 15%;">
                @helper.inputText(
                    myForm("first_name"),
                    '_label -> "First name",
                    'size -> 30)

                @helper.inputText(
                    myForm("last_name"),
                    '_label -> "Last name",
                    'size -> 30)

                @helper.inputText(
                    myForm("company"),
                    '_label -> "Company",
                    'size -> 30)

                @helper.inputText(
                    myForm("host"),
                    '_label -> "Person Visiting",
                    'size -> 30)

                @helper.inputText(
                    myForm("phone"),
                    '_label -> "Phone",
                    'type -> "tel",
                    'size -> 30)

                @helper.inputText(
                    myForm("email_address"),
                    '_label -> "Email",
                    'type -> "email",
                    'size -> 30)

                <input type="hidden" name="nda_accepted" value="true" />
            </div>
            <input type="submit" data-theme="b" data-transition="fade" value="Submit">
        }
    </div>
}