@main {
@defining(play.Play.application().configuration().getString("templating.company_name")) { company_name =>
    <div data-role="page" data-theme="b" id="splash" class="splash">
      <div data-role="content" id="splashButtons">
        <a data-role="button" data-transition="fade" href="nda?to=guest" data-icon="arrow-r" id="guest" data-iconpos="right">
          I am meeting someone from @company_name
        </a>
        <a data-role="button" data-transition="fade" href="nda?to=interview" data-icon="arrow-r" data-iconpos="right">
          I am interviewing at @company_name
        </a>
        <a data-role="button" data-transition="fade" href="nda?to=event" data-icon="arrow-r" data-iconpos="right">
          I am attending an event at @company_name
        </a>
      </div>
    </div>
}
}