@(to: String, nda_text: String)
@main {
<div data-role="page" data-theme="b" id="nda" class="guest">
    <a data-role="button" data-ajax="false" data-transition="fade" href="/" data-icon="arrow-l" data-iconpos="left">
        Back
    </a>
    <div data-role="content">
        <h3 style="text-align:center">Non-Disclosure Agreement</h3>
<textarea id="nda_container">
@nda_text
</textarea>
    </div>
    <a class="nda-agree" data-role="button" data-transition="fade" href="@to?nda=true" data-icon="arrow-r" data-iconpos="agree">
        I Agree
    </a>
</div>
}