@(persons: Seq[Person])
@import org.joda.time.DateTimeZone
@import org.joda.time.format.DateTimeFormat

@main {
<div data-role="page" id="page" data-theme="b">
    <div data-role="content">
        <h1>People present On-Site</h1>
        <h3>Click on people's names to sign them out</h3>
        @persons.map { person =>
            <div data-role="controlgroup">
                <a class="deleteButton"
                data-role="button"
                data-icon="delete"
                data-id="@person.id">@person.first_name @person.last_name
                    for <u>@person.host</u>
                    for a <b>@person.visit_type</b>
                    (@person.created_at)</a>
            </div>
        }
    </div>
</div>
}