@(persons: Seq[Person])
@main {
<div data-role="page" id="page" data-theme="b">
    <div data-role="content">
        <h1>People present onsite</h1>
        <h3>Click on people's names to sign them out</h3>
        @persons.map { person =>
            <div data-role="controlgroup">
                <a class="deleteButton"
                data-role="button"
                data-icon="delete"
                    data-first="@person.first_name"
                    data-last="@person.last_name"
                data-person-id="1">@person.first_name @person.last_name ( @person 1 hour ago )</a>
            </div>
        }
    </div>
</div>
}