@(host_label: String, post_action: play.api.mvc.Call, show_company: Boolean = true)(myForm: Form[Person])
@import helpers.JQueryMobileFieldConstructor._

@main {
    <div data-role="page" data-theme="b" id="guest" class="guest">
        <a data-role="button" data-transition="fade" href="/" data-icon="arrow-l" data-iconpos="left">
            Back
        </a>
        <span class="company_logo"></span>
        @helper.form(action = post_action, 'id -> "new_person", 'class -> "new_person") {
            <div data-role="content" style="margin-left: 15%;margin-right: 15%;" class="ui-content" role="main">
                @if(!myForm.errors.isEmpty) {
                <div id="error_explanation" style="text-align: center;">
                    <h2><span class="ui-icon ui-icon-alert" style="display: inline-block;"></span> @myForm.errors.length errors prohibited your registration from being saved!</h2>
                </div>
                }

                @helper.inputText(
                    myForm("first_name"),
                    '_label -> "First name",
                    'size -> 30)

                @helper.inputText(
                    myForm("last_name"),
                    '_label -> "Last name",
                    'size -> 30)

                @if(show_company) {
                    @helper.inputText(
                        myForm("company"),
                        '_label -> "Company",
                        'size -> 30)
                }

                @helper.inputText(
                    myForm("host"),
                    '_label -> host_label,
                    'size -> 30)

                @helper.inputText(
                    myForm("phone"),
                    '_label -> "Phone",
                    'type -> "tel",
                    'size -> 30)

                @helper.inputText(
                    myForm("email_address"),
                    '_label -> "Email",
                    'type -> "email",
                    'size -> 30)

                <input type="hidden" name="nda_accepted" value="true" />
            </div>
            <input type="submit" data-theme="b" data-transition="fade" value="Submit">
        }
    </div>
}